.torn-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 16rem;
    min-height: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #2B3B52;
}

.l-nav-menu {
    width: 16rem;
    height: 100%;
    padding-top: 3.5rem;
}

.l-nav-menu ul {
    margin: 0;
}

.l-nav-menu li {
    height: 2.9rem;
    line-height: 2.9rem;
    cursor: pointer;
}

.l-nav-menu li a {
    display: block;
    color: #b7b7b7;
}

.l-nav-menu li a.active {
    color: #fff;
}

.l-nav-menu li:hover a {
    color: #fff;
}

.l-nav-menu li div {
    padding: 0 1.71rem;
}

.li-active {
    background: #192434;
    box-shadow: inset 0 0 1px 1px #151b25;
}